
.App {
  text-align: center;
}
.cartoon-container {
  display: flex;
  border-style: solid;
  justify-content: space-around


}
.adi-container {
  display: flex;
  border-style: solid;
  flex-direction: column-reverse

}
.peter-container {
  display: flex;
  border-style: groove;
  flex-direction: column

}